<ion-header>
</ion-header>
<ion-content padding class="background">
  <ion-grid>
    <ion-row class="row1"></ion-row>
    <ion-row class="row2">
      <div id="header">
        <h1>{{'Welcome!' | translate}}</h1>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()" id="form">
          <ion-item color = "whitesmoke"class="ion-margin-bottom">
            <ion-icon name="person-sharp"></ion-icon>
            <ion-input formControlName="username" required="true" placeholder="E-mail"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
            E-mail is required.
          </span>
          <ion-item color = "whitesmoke" class="ion-margin-bottom">
            <ion-icon name="lock-closed-sharp"></ion-icon>
            <ion-input formControlName="password" required="true" type="password" placeholder="Password"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.required">
            Password is required.
          </span>
          <ion-button expand="block" shape="round" [disabled]="!loginForm.valid" type="submit">Sign in</ion-button>
        </form>
        <p>Don't have an account?
          <a routerLink="/register"><u>Sign up</u></a>
          <br>
          <button *ngIf="translate.currentLang === 'en' || translate.defaultLang === 'en'" (click)="changeLang('tr')"><img src="../../../assets/flags/turkey.png"></button>
          <button *ngIf="translate.currentLang === 'tr' || translate.defaultLang === 'tr'" (click)="changeLang('en')"><img src="../../../assets/flags/usa.png"></button>
      </div>
    </ion-row>
    <ion-row class="row3"></ion-row>
  </ion-grid>


</ion-content>
