<ion-header>
  <div class="row">
    <div class="column left">
      <ion-icon (click)="openCalModal()" name="add-circle"></ion-icon>
    </div>
    <div class="column right">
      {{'Meetings' | translate}}
    </div>
  </div>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row class="row1"></ion-row>
    <ion-row class="row2">
      <ion-content>
        <!--<ion-segment [(ngModel)]="calendar.mode">
          <ion-segment-button value="month">
            <ion-label>Month</ion-label>
          </ion-segment-button>
          <ion-segment-button value="week">
            <ion-label>Week</ion-label>
          </ion-segment-button>
          <ion-segment-button value="day">
            <ion-label>Day</ion-label>
          </ion-segment-button>
        </ion-segment>-->

        <ion-row class="slide">
          <!-- Move back one screen of the slides -->
          <ion-col size="3">
            <ion-button fill="clear" (click)="back()">
              <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="6" class="ion-text-center">
            <h2>{{ viewTitle | translate}}</h2>
          </ion-col>

          <!-- Move forward one screen of the slides -->
          <ion-col size="3">
            <ion-button fill="clear" (click)="next()">
              <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>



        <div *ngFor="let events of calendarData">
          <calendar
            [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            startHour="6"
            endHour="20"
            step="30"
            startingDayWeek="1"
            [monthviewDisplayEventTemplate]="template"
          >
          </calendar>
          <ion-card class="card" >
            <!-- <ion-img [src]="news.urlToImage"></ion-img> -->
            <ion-card-content>
              <ion-card-subtitle>
                <ion-icon name="golf" class="meetingIcons"></ion-icon>{{events.city}}
              </ion-card-subtitle>
              <ion-card-title>{{events.meetingPlace}}</ion-card-title>
              <p>{{events.startTime | date : 'MMM/dd/yyyy'}}</p>
              <p>{{events.startTime | date : 'HH:mm'}} - {{events.endTime | date : 'HH:mm'}}</p>
              <a><p (click)="redirect(events.meetingUrl)" id="name">{{'Meeting Link' | translate}}</p></a>
            </ion-card-content>
          </ion-card>
        </div>
        <ion-infinite-scroll>
          <ion-infinite-scroll-content loadingSpinner="bubble" style="color: #0d0d0d" loadingText=""></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </ion-row>
    <ion-row class="row3"></ion-row>
  </ion-grid>
</ion-content>




