<ion-header>
  <ion-icon (click)="openCalModal()" name="add-circle"></ion-icon>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row class="row1"></ion-row>
    <ion-row class="row2">
      <ion-content>
        <div *ngFor="let events of calendarData">
          <ion-card class="card" >
            <!-- <ion-img [src]="news.urlToImage"></ion-img> -->
            <ion-card-content>
              <ion-card-subtitle>
                <ion-icon name="golf" class="meetingIcons"></ion-icon>{{events.city}}
              </ion-card-subtitle>
              <ion-card-title>{{events.meetingPlace}}</ion-card-title>
              <p>{{events.startTime | date : 'MMM/dd/yyyy'}}</p>
              <p>{{events.startTime | date : 'HH:mm'}} - {{events.endTime | date : 'HH:mm'}}</p>
              <a><p (click)="redirect(events.meetingUrl)" id="name">{{'Meeting Link' | translate}}</p></a>
            </ion-card-content>
          </ion-card>
        </div>
        <ion-infinite-scroll>
          <ion-infinite-scroll-content loadingSpinner="bubble" style="color: #0d0d0d" loadingText=""></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </ion-row>
    <ion-row class="row3"></ion-row>
  </ion-grid>
</ion-content>





<!--ionic cordova platform add android
ionic cordova build android
// ionic cordova build android &#45;&#45;release-->


