<ion-header>
  <div class="float-child1">
    <ion-icon (click)="logout()" name="power-sharp" *ngIf="isOwn"></ion-icon>
    <ion-label *ngIf="isOwn">{{'Log out' | translate}} </ion-label>
    <button class = "round" (click)="goBack()" *ngIf="goButton"><img src="../../../assets/icon/ok-left.png"></button>
  </div>
  <div class="float-child2">
    <div class="avatar">
      <img src="../../../assets/women/woman.png" alt="">
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="row1"></ion-row>
    <ion-row class="row2">
      <ion-col size="12">

        <p>{{'Occupation:' | translate}}
          <ion-item color = "whitesmoke">
            <ion-icon name="business"></ion-icon>
            <ion-label position="fixed">{{user?.occupation}}</ion-label>
          </ion-item>

        <p>{{'First Name:' | translate}}
          <ion-item color = "whitesmoke" lines="full">
          <ion-icon name="person-sharp"></ion-icon>
          <ion-label position="fixed">{{user?.firstName}}</ion-label>
        </ion-item>

        <p>{{'Last Name:' | translate}}
        <ion-item color = "whitesmoke">
          <ion-icon name="person-sharp"></ion-icon>
          <ion-label position="fixed">{{user?.lastName}}</ion-label>
        </ion-item>

        <p>{{'E-Mail:' | translate}}
        <ion-item color = "whitesmoke">
          <ion-icon name="mail"></ion-icon>
          <ion-label position="fixed">{{user?.email}}</ion-label>
        </ion-item>

        <p>{{'City:' | translate}}
        <ion-item color = "whitesmoke">
          <ion-icon name="home"></ion-icon>
          <ion-label position="fixed">{{user?.city}}</ion-label>
        </ion-item>

        <p>{{'TOBB Registration Number:' | translate}}
        <ion-item color = "whitesmoke">
          <ion-icon name="document"></ion-icon>
          <ion-label position="fixed">{{user?.tobbRegisterId}} </ion-label>
        </ion-item>

        <p>{{'Mobile Phone:' | translate}}
        <ion-item color = "whitesmoke">
          <ion-icon name="call"></ion-icon>
          <ion-label position="fixed">{{user?.phone}}</ion-label>
        </ion-item>

        <!-- <ion-item color = "whitesmoke">
           <ion-icon name="lock-closed-sharp"></ion-icon>
           <ion-input required="true" type="password" placeholder="Password"></ion-input>
         </ion-item>-->

        <!--<ion-item color = "whitesmoke">
          <ion-icon name="call"></ion-icon>
          <ion-label position="fixed">Password</ion-label>
        </ion-item>-->

        <p>{{'Birth Date:' | translate}}
        <ion-item color = "whitesmoke">
          <ion-icon name="calendar"></ion-icon>
          <ion-label position="fixed">{{user?.birthDate | date: 'MMM/dd/YYYY'}}</ion-label>
        </ion-item>

        <p>{{'Description:' | translate}}
        <ion-card color = "whitesmoke">
          <ion-card-content>
            <ion-icon name="pencil"></ion-icon>
             {{user?.description}}
          </ion-card-content>
        </ion-card>

        <ion-button expand="block" shape="round" type="submit" routerLink="/edit-profile" *ngIf="isOwn">{{'Edit Profile' | translate}}</ion-button>
      </ion-col>


    </ion-row>
    <ion-row class="row3"></ion-row>
  </ion-grid>
</ion-content>
