<ion-content class="background" >
  <ion-label class="feed">Feed</ion-label>

  <ion-card class="card" style="background-color: indianred" *ngFor="let article of data?.articles">
    <!-- <ion-img [src]="article.urlToImage"></ion-img> -->

    <ion-card-content>
      <ion-card-title>{{article.title}}</ion-card-title>

      <p>{{article.description}}</p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubble" loadingText="load news.."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>



<!--<ion-card class="card" style="background-color: darkred">
  <ion-item class="card-image">
    <ion-img src="../../../assets/ok-left.png"></ion-img>
  </ion-item>

  <ion-card-header style="background-color: mediumvioletred">
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content style="background-color: indianred">
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

  <ion-item style="background-color: red">
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>
</ion-card>-->

