ion-header{
  height: 0px;
  .column {
    float: left;
  }
  ion-icon{
    width: 30%;
    color: whitesmoke;
    margin-top: 10%;
    text-align: center;
    display:inline-block;
    vertical-align:middle;
    margin-left: auto;
    display: flex;
    height: 45%;
    padding-left: 50px;
    margin-right: auto;
  }
  .left, .right {
    width: 50%;
    height: 80px;
    padding-top: 10px;
    padding-left: 60px;
  }
}

.background {
  --background: url(../../../assets/backgrounds/bigger-left-bubble-edited.png) 0 0/100% 100% no-repeat;
}

ion-grid {
  height: 100%;
}

.row1{
  height: 12%;
}
.row2{
  padding: 5% 9% 11% 3%;
  height: 87%;
  margin-bottom: 10%;
}

.row3{
  height: 1%;
}


.feed{
  font-size: 30px;
  display:inline-block;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 47px;
}

.card{
  width: 90%;
  height: 63%;
  display:inline-block;
  padding: 0;
}

ion-card-content{
  height: 50%;
}

.card-image{
  width: 80%;
  height: 35%;
  display: inline-block;
  margin: 3%;
}
