<ion-content>
  <button round (click)="goBack()"><img src="../../../assets/ok-left.png"></button>
  <form id="form">
    <ion-item class="ion-margin-bottom">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-input placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-input placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-icon name="mail"></ion-icon>
      <ion-input placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-icon name="business"></ion-icon>
      <ion-input placeholder="Occupation"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-icon name="document"></ion-icon>
      <ion-input type="number" placeholder="Registration Number"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-icon name="call"></ion-icon>
      <ion-input type="number" placeholder="Mobile Phone"></ion-input>
    </ion-item>

    <div class = "row">
      <div class= "checkBox" >
        <ion-checkbox color="secondary" [checked]="isToggled" (ionChange)="notify()"></ion-checkbox>
      </div>
      <div class= "conditions" >
        <p>I accept the conditions of use</p>
      </div>
    </div>

    <ion-button expand="block" shape="round" (click)="regMeIn()" [disabled]="!isToggled">Register</ion-button>
  </form>
</ion-content>
