<ion-header>

</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row class="row1"></ion-row>
    <ion-row class="row2">
      <ion-content>
        <ion-toolbar>
          <ion-searchbar debounce="500" placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
        </ion-toolbar>
          <br>
        <ion-list>
          <ion-item *ngFor="let user of userData | filter:filterTerm" [routerLink]="['/profile', user.userId]">
            <ion-label>{{user.firstName}}</ion-label>
            <ion-label>{{user.lastName}}</ion-label>
<!--            <button (click)="delete(user.userId)">Sil</button>-->
          </ion-item>
          <br>
        </ion-list>

      </ion-content>
    </ion-row>
    <ion-row class="row3"></ion-row>
  </ion-grid>
</ion-content>
