<ion-header>
  <button class="round" (click)="goBack()"><img src="../../../assets/icon/ok-left.png"></button>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row class="row1"></ion-row>
    <ion-row class="row2">
      <ion-content>
        <ion-label class="addNews">{{'Add News' | translate}}</ion-label>
        <form [formGroup]="ionicForm" id="form">
          <br>
          <ion-label class="formVariables">{{'City:' | translate}}</ion-label>
          <ion-item color="whitesmoke">
            <ion-icon class="formIcons" name="home"></ion-icon>
              <ion-select formControlName="city" required="true" placeholder="City">
                <ion-select-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-select-option>
              </ion-select>
          </ion-item>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.city.errors?.required">
            {{'City is required.' | translate}}
          </span><br>
          <ion-label class="formVariables">{{'Title:' | translate}}</ion-label>
          <ion-item color="whitesmoke">
            <ion-icon class="formIcons" name="create-outline"></ion-icon>
            <ion-input formControlName="newsTitle" required="true" placeholder="News Title"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.newsTitle.errors?.required">
            {{'News Title is required.' | translate}}
          </span><br>
          <ion-label class="formVariables">{{'Description:' | translate}}</ion-label>
          <ion-item color="whitesmoke">
            <ion-icon class="formIcons" name="reorder-four-outline"></ion-icon>
            <ion-textarea formControlName="newsBody" required="true" placeholder="Description"></ion-textarea>
          </ion-item>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.newsBody.errors?.required">
            {{'Description is required.' | translate}}
          </span>
          <ion-button type="submit" (click)="saveNews()">
            <ion-icon class="checkmark" name="checkmark" ></ion-icon>
          </ion-button>
        </form>
      </ion-content>
    </ion-row>

    <ion-row class="row3"></ion-row>
  </ion-grid>
</ion-content>
