ion-header{
  height: 0px;
  button{
    margin-top: 12px;
    margin-left: 25px;
    bottom: 5px;
    right: 15px;
    border-radius: 50%;
    padding: 5px;
    background-color: transparent;
    width:60px;
    height:30px;
  }
}

ion-select{
  width: 85%;
}

.background {
  --background: url(../../../assets/backgrounds/bigger-left-bubble-edited.png) 0 0/100% 100% no-repeat;
}
  ion-grid {
    height: 100%;

  }
.row1{
  height: 12%;
}
.row2{
  padding: 7% 9% 11% 3%;
  height: 70%;
  --ion-background-color: transparent !important;
}

.formIcons{
  color: #3e4999;
  padding-right: 10px;
}

form{
  margin-top: 6%;
  // background-color: #3e4999;
}
.row3{
  height: 18%;
}

ion-button{
  margin-top: 5%;
  margin-left: 80%;
}

.addNews{
  padding-left: 35%;
  font-size: 20px;
  color: #3e4999;
}

.formVariables{
  padding-left: 6%;
  font-size: 18px;
  color: #3e4999;
}

ion-item{
  border-radius: 10%;
  color: #0d0d0d;
}

.checkmark{
  padding-left: 0;
}

