ion-tab-bar {
  bottom: 20px;
  position: relative;
  border-radius: 26px;
  width: 92%;
  margin: 0 auto;
}

ion-tab-bar, ion-tab-button{
  background-color: #2b3280;
}

ion-icon {
  color: white;
}
