:host ::ng-deep { // hides no event section
  .monthview-container {
    height: auto !important;
  }

  .event-detail-container {
    display: none;
  }
}

ion-button{
  margin-left: 80%;
}

.formVariables{
  padding-left: 6%;
  font-size: 15px;
  color: white;
}

.formIcons{
  color: #3e4999;
  padding-right: 10px;
}
