# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\git\TOBB AWEB\ceng-407-408-2020-2021-TOBB-ANKARA-WOMEN-Entrepreneurs-Board-Mobile-Application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
